In [1]:
import pandas as pd

In [6]:
hot = pd.read_csv('..\\lab-web-scraping-single-page\\song_artist.csv')
hot

                         artist                 song
0                  harry styles            as it was
1                   jack harlow          first class
2                     cat burns                   go
3                 aitch/ashanti                 baby
4                          dave            starlight
..                          ...                  ...
95                      wet leg        chaise longue
96                       eminem  the real slim shady
97  pusha t/kanye west/kid cudi          rock n roll
98            dave ft burna boy             location
99                lewis capaldi    someone you loved

[100 rows x 2 columns]

In [43]:
# hot_songs = hot.drop("artist", axis = 1).values.tolist()
# hot_songs

hot['song'].values.tolist()

['as it was',
 'first class',
 'go',
 'baby',
 'starlight',
 'peru',
 'bmw',
 'bam bam',
 'where did you go',
 'make me feel good',
 'down under',
 'gangsteritus',
 '2step',
 'house on fire',
 'anyone for you',
 "she's all i wanna be",
 'flowers',
 'crazy what love can do',
 'night away (dance)',
 'the motto',
 'thousand miles',
 'bad habits',
 'where are you now',
 'one of a kind music pts reggae & calypso',
 'what would you do',
 'heat waves',
 'light switch',
 'run',
 'shivers',
 '10 things i hate about you',
 'birthday cake',
 'seventeen going under',
 'big energy',
 'glad u came',
 'balling',
 'melody',
 'freaky deaky',
 'do it to it',
 'numb little bug',
 'cold heart',
 "don't forget my love",
 'used to this',
 'middle of the night',
 "we don't talk about bruno",
 'dandelions',
 'green green grass',
 'remind me',
 'in my head',
 'still sleepless',
 'all for you',
 'abcdefu',
 'easy on me',
 'come & go',
 'in a minute',
 'stay',
 'bad life',
 'hold it down',
 'where you are',
 "je m'appelle",
 'good luck',
 'save your tears',
 "when you're gone",
 'finesse',
 'good 4 u',
 'mr brightside',
 'everything but you',
 'about damn time',
 'sweetest pie',
 'overseas',
 'boyfriend',
 'low down',
 'ghost',
 'hallucination',
 'another love',
 'gold forever',
 'enemy',
 'levitating',
 'fingers crossed',
 'clash',
 'dreamin of the past',
 'my love',
 'what else can i do',
 'watermelon sugar',
 'blinding lights',
 'surface pressure',
 'woman',
 'waterfall',
 'the lakes',
 'remember',
 'here for you',
 'industry baby',
 "don't stop just yet",
 'nice & good',
 'without me',
 'iris',
 'chaise longue',
 'the real slim shady',
 'rock n roll',
 'location',
 'someone you loved']

In [53]:
songchoice = input('enter a song name ')
# hot_songs = hot['song'].values.tolist() not a good idea as recommendation can return the same input song

if songchoice.lower() in list(hot['song']):
    print("We recommend this hot song:")
    display(hot.sample())
else:
    print("no recommendation at this time. Input another song")

enter a song name iris
We recommend this hot song:

            artist     song
34  vibe chemistry  balling